#HBox_bottom {
    -fx-background-color: #cccccc;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: #bfbfbf;
}

#HBox_top {
    -fx-background-color: #9f1912;
    -fx-border-color: linear-gradient(#800000 0%, red 100%);
    -fx-border-width: 0 0 3 0;
}

#Label_page {
    -fx-background-image: url("BackgroundGold.png");
    -fx-background-size: 200px 50px;
}

#Label_page:hover {
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 5, 0.5, 0, 0);
}

.buttonSearch {
    -fx-background-image: url("image/Search.png");
    -fx-background-size: 30px;
}

.buttonSearch:hover {
    -fx-background-image: url("image/Searchdark.png");
    -fx-background-size: 30px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.buttonMiniSize {
    -fx-background-image: url("image/MiniSize.png");
    -fx-background-size: 30px;
}

.buttonMiniSize:hover {
    -fx-background-image: url("image/MiniSizeDark.png");
    -fx-background-size: 30px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.buttonExit {
    -fx-background-image: url("image/Exit.png");
    -fx-background-size: 30px;
}

.buttonExit:hover {
    -fx-background-image: url("image/ExitDark.png");
    -fx-background-size: 30px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.buttonPre {
    -fx-background-image: url("image/SkipPre.png");
    -fx-background-size: 50px;
}

.buttonPre:hover {
    -fx-background-image: url("image/SkipPreDark.png");
    -fx-background-size: 50px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.buttonPlay {
    -fx-background-image: url("image/Play.png");
    -fx-background-size: 50px;
}

.buttonPlay:hover {
    -fx-background-image: url("image/PlayDark.png");
    -fx-background-size: 50px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.buttonPause {
    -fx-background-image: url("image/Pause.png");
    -fx-background-size: 50px;
}

.buttonPause:hover {
    -fx-background-image: url("image/PauseDark.png");
    -fx-background-size: 50px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.buttonNext {
    -fx-background-image: url("image/SkipNext.png");
    -fx-background-size: 50px;
}

.buttonNext:hover {
    -fx-background-image: url("image/SkipNextDark.png");
    -fx-background-size: 50px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.buttonMute {
    -fx-background-image: url("image/NormalVoice.png");
    -fx-background-size: 25px;
}

.buttonMute:hover {
    -fx-background-image: url("image/NormalVoiceDark.png");
    -fx-background-size: 25px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.buttonCancelMute {
    -fx-background-image: url("image/Mute.png");
    -fx-background-size: 25px;
}

.buttonCancelMute:hover {
    -fx-background-image: url("image/MuteDark.png");
    -fx-background-size: 25px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.modeLoopPlay {
    -fx-background-image: url("image/Repeat.png");
    -fx-background-size: 50px;
}

.modeLoopPlay:hover {
    -fx-background-image: url("image/RepeatDark.png");
    -fx-background-size: 50px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.modeRandomPlay {
    -fx-background-image: url("image/Shuffle.png");
    -fx-background-size: 50px;
}

.modeRandomPlay:hover {
    -fx-background-image: url("image/ShuffleDark.png");
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.modeSingleCycle {
    -fx-background-image: url("image/RepeatOne.png");
    -fx-background-size: 50px;
}

.modeSingleCycle:hover {
    -fx-background-image: url("image/RepeatOneDark.png");
    -fx-background-size: 50px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.playList {
    -fx-background-image: url("image/PlayList.png");
    -fx-background-size: 50px;
}

.playList:hover {
    -fx-background-image: url("image/PlayListDark.png");
    -fx-background-size: 50px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.slider .track {
    -fx-background-color: null; /* Hide the track color*/
}

.progress-bar > .bar {
    -fx-pref-height: 15;
    -fx-min-height: 15;
    -fx-max-height: 15;
}

.progress-bar:determinate > .bar {
    -fx-background-color: #d02711;
}

.progress-bar:indeterminate > .bar {
    -fx-background-color: #d02711;
}

.progress-bar > .track {
    -fx-border-width: 0 0 0 0;
    -fx-background-color: white;
}
