#HBox_buttom {
    -fx-background-color: #cccccc;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: #bdbdbd;
}

#HBox_top {
    -fx-background-color: #961347;
    -fx-border-color: linear-gradient(#ac1552 0%, deeppink 100%);
    -fx-border-width: 0 0 3 0;
}

.slider .track {
    -fx-background-color: null; /* Hide the track color*/
}

.progress-bar > .bar {
    -fx-pref-height: 15;
    -fx-min-height: 15;
    -fx-max-height: 15;
}

.progress-bar:determinate > .bar {
    -fx-background-color: #e91e63;
}

.progress-bar:indeterminate > .bar {
    -fx-background-color: #e91e63;
}

.progress-bar > .track {
    -fx-border-width: 0 0 0 0;
    -fx-background-color: white;
}

#Label_page {
    -fx-background-image: url("backgroundgoldblue.png");
    -fx-background-size: 200px 50px;
}

#Label_page:hover {
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 5, 0.5, 0, 0);
}

.buttonSearch {
    -fx-background-image: url("Image/search.png");
    -fx-background-size: 30px;
}

.buttonSearch:hover {
    -fx-background-image: url("Image/searchdark.png");
    -fx-background-size: 30px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.buttonMiniSize {
    -fx-background-image: url("Image/miniSize.png");
    -fx-background-size: 30px;
}

.buttonMiniSize:hover {
    -fx-background-image: url("Image/miniSizeDark.png");
    -fx-background-size: 30px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.buttonExit {
    -fx-background-image: url("Image/exit.png");
    -fx-background-size: 30px;
}

.buttonExit:hover {
    -fx-background-image: url("Image/exitdark.png");
    -fx-background-size: 30px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.buttonPre {
    -fx-background-image: url("Image/skipPre.png");
    -fx-background-size: 50px;
}

.buttonPre:hover {
    -fx-background-image: url("Image/skipPreDark.png");
    -fx-background-size: 50px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.buttonPlay {
    -fx-background-image: url("Image/play.png");
    -fx-background-size: 50px;
}

.buttonPlay:hover {
    -fx-background-image: url("Image/playDark.png");
    -fx-background-size: 50px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.buttonPause {
    -fx-background-image: url("Image/pause.png");
    -fx-background-size: 50px;
}

.buttonPause:hover {
    -fx-background-image: url("Image/pauseDark.png");
    -fx-background-size: 50px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.buttonNext {
    -fx-background-image: url("Image/skipNext.png");
    -fx-background-size: 50px;
}

.buttonNext:hover {
    -fx-background-image: url("Image/skipNextDark.png");
    -fx-background-size: 50px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.buttonMute {
    -fx-background-image: url("Image/normalVoice.png");
    -fx-background-size: 25px;
}

.buttonMute:hover {
    -fx-background-image: url("Image/normalVoiceDark.png");
    -fx-background-size: 25px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.buttonCancelMute {
    -fx-background-image: url("Image/mute.png");
    -fx-background-size: 25px;
}

.buttonCancelMute:hover {
    -fx-background-image: url("Image/muteDark.png");
    -fx-background-size: 25px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.modeLoopPlay {
    -fx-background-image: url("Image/repeat.png");
    -fx-background-size: 50px;
}

.modeLoopPlay:hover {
    -fx-background-image: url("Image/repeatDark.png");
    -fx-background-size: 50px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.modeRandomPlay {
    -fx-background-image: url("Image/shuffle.png");
    -fx-background-size: 50px;
}

.modeRandomPlay:hover {
    -fx-background-image: url("Image/shuffleDark.png");
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.modeSingleCycle {
    -fx-background-image: url("Image/repeatOne.png");
    -fx-background-size: 50px;
}

.modeSingleCycle:hover {
    -fx-background-image: url("Image/repeatOneDark.png");
    -fx-background-size: 50px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.playList {
    -fx-background-image: url("Image/playList.png");
    -fx-background-size: 50px;
}

.playList:hover {
    -fx-background-image: url("Image/playListDark.png");
    -fx-background-size: 50px;
    -fx-effect: DropShadow(three-pass-box, -fx-shadow-highlight-color, 15, 0.0, 0, 0);
}

.slider .track {
    -fx-background-color: null; /* Hide the track color*/
}

.progress-bar > .bar {
    -fx-pref-height: 15;
    -fx-min-height: 15;
    -fx-max-height: 15;
}